*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{

    display: flex;
    justify-content: flex-start;
}


.img{

    width: 15%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 2s ease-in;
    
}



.text{

    position: absolute;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    opacity: 1;
}


.text.active{

    opacity: 0;
}



.img.active{

    flex: 5;
   
}


.img.active .text{

    opacity: 0;
}




.img img{

    border-radius: 10px;
}